<!DOCTYPE html>

<html>
<head>
	<title>based.how @{{tag}}</title>
	<link rel="icon" href="/static/favicon.png">
	<meta charset="UTF-8">
	<meta name="description" content="Simple tutorials for people desiring tradition and incapable of finding it.">
	<meta name="keywords" content="based, arete, tutorial, guide">
	<meta name="author" content="anon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/static/style.css">
	
</head>

<body>
	<a href="/">☚ back to title page</a>
	<div class="banner">
		<h1>⚚ 𝖘𝖊𝖆𝖗𝖈𝖍 𝖇𝖞 𝖙𝖆𝖌 ♔</h1>
		<h2>{{tag.capitalize()}}</h2>
		<hr>
	</div>
	
	<ul id="artlist">
		{% for article in articles %}
			<li>
				<a href='/articles/{{article}}'>
					{{article.capitalize().replace('_',' ')}}
				</a>
			</li>
		{% endfor %}
	</ul>
	
</body>

</html>