<!DOCTYPE html>

<html>
<head>
	<title>based.how</title>
	<link rel="icon" href="/static/favicon.png">
	<meta charset="UTF-8">
	<meta name="description" content="Simple tutorials for people desiring tradition and incapable of finding it.">
	<meta name="keywords" content="based, arete, tutorial, guide">
	<meta name="author" content="anon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/static/style.css">
	
</head>

<body>
	
	<div class="banner">
		<h1>⚚ 𝖍𝖔𝖜 𝖙𝖔 𝖇𝖊 𝖇𝖆𝖘𝖊𝖉 / 𝖆𝖗𝖊𝖙𝖊 / 𝖗𝖊𝖉𝖕𝖎𝖑𝖑𝖊𝖉 ♔</h1>
		<hr>
	</div>
	
	<p>Only Based tutorials; no ads, no tracking.</p>
	<p>
	Prostrate yourself in front of the altar of truth and sacrifice your 
	arrogance to it.
	</p>
	<p>
		Source code: 
		<a href="https://gitlab.com/memetics_connected/based.how">server</a>, 
		<a href="https://gitlab.com/memetics_connected/articles.based.how">articles</a>.
	</p>
	<p><i>All tags:
		{% for tag in tags %}
			<a href="/@{{tag}}">{{tag}}</a>, 
		{% endfor %}
	</i></p>
	
	<h2>Tutorials:</h2>
	<ul id="artlist">
		{% for article in articles %}
			<li>
				<a href='/articles/{{article}}'>
					{{article.capitalize().replace('_',' ')}}
				</a>
			</li>
		{% endfor %}
	</ul>
	
	<!-- an example of an image that can be displayed of a famous
	based person, along with their thoughts or beliefs (or a quote)-->
	<img class="bottom_right_icon" {{quote|safe}}>
	
</body>

</html>