

h1 {
	text-align: center;
	font-size: 2em;
}
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
h2, h3, h4, h5, h6 {
	color: Maroon;
}

body {
	background: #fafafa;
	color: black;
	max-width: 800px;
	margin: auto;
	padding: 0 16px;
	margin-bottom: 500px;
	font-family: Roboto, sans-serif;
}

img {
	max-width: 600px ;
	width: 100% ;
	margin: auto ;
	display: block ;
}

img.bottom_right_icon{
	max-width: inherit;
	width: inherit;
	position: fixed;
	bottom: 0;
	right: 0;
}

#artlist li {
	margin-top: 8px;
}

code {
	overflow-wrap: break-word;
	color: forestgreen;
}

pre code{
	display: inline-block;
	width: 100%;
	padding: 8px 8px 8px 8px;
	box-sizing: border-box;
	
	background: gainsboro;
	border-radius: 3px;
}

blockquote {
	border-left: 4px darkgray solid;
	padding-left: 8px;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #041C32;
		color: LightGrey;
	}
	h2, h3, h4, h5, h6 {
		color: #ECB365;
	}
	a {
		color: #ECB365;
	}
	a:visited {
		color: #B3541E
	}
	code {
		color: springgreen;
	}
	pre code {
		background: black;
	}
}